label{
  color: blue;
  font-size: 40px;
  margin: 50px;
}
#enter-task{
  width: 40%;
  height: auto;
  padding: 10px;
  margin: 30px;
}
.btn{
  margin: 30px;
  width: 100px;
  height: auto;
}

#todays-task{
  display: none;
}

.task {
  cursor: pointer;
  color: #0088cc;
}

.task:hover {
  text-decoration: underline;
}
